.position-set{
    position: sticky;
    top: 0;
}
.carousel-item img{
    object-fit: cover;
    width: 100%;
    height:60vh;
}

.banner {
    background-color: #EA5C2B;
}

#order-now-btn {
    background-color: #95CD41;
    border: none; 
}

#order-pickup-btn {
    background-color: #7AA874;
    border: none;  
}

.bgmain{
    background-color: #FFE6C7;
}

.navcolor {
    background-color: #312e02cb;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
        transform: translateY(-90px);
    }
    to {
          opacity: 1.5;
          transform: translateY(0);
    }
}

.animation-picture {
    animation: fadeIn 4s ease-in-out infinite;
}

.set-images{
    width: 100%;
    height: 400px;
}


 